<!--
  Generated template for the RankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="back">
    <ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu" left></ion-icon>
        </button>
    </ion-buttons>
    <ion-title text-center>Ranking</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="czy">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label> Wybierz typ Zanieczyszczeń: </ion-label>

          <ion-select [(ngModel)]="choosenType" (ionChange)="createChart()" >
              <ion-option  *ngFor="let type of typesOfPollutions"
              [value]="type" >
              {{type}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label> najbardziej, czy najmniej zanieczyszczone miejsca w Polsce? </ion-label>
          
          <ion-select [(ngModel)]="type" (ionChange)="createChart()" >  
              <ion-option  *ngFor="let type of types"
              [value]="type" >
              {{type}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <canvas #barCanvas ></canvas>
  
</ion-content>
